<div id="confirmModal-{{ .ID }}" 
     class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50"
     role="dialog"
     aria-modal="true">
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Подтверждение</h3>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500">Вы точно хотите завершить выполнение задания?</p>
            </div>
            <div class="flex justify-center gap-4 mt-4">
                <button 
                    class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300"
                    hx-patch="/tasks/{{ .ID }}/status"
                    hx-target="#task-{{ .ID }}"
                    hx-swap="outerHTML"
                    hx-vals='{"status": "COMPLETED"}'
                    hx-on::after-request="htmx.remove('#confirmModal-{{ .ID }}')"
                    hx-on::before-request="
                        const timer = timers.get('{{ .ID }}');
                        if (timer && timer.isRunning) {
                            timer.pause();
                        }">
                    Да
                </button>
                <button 
                    class="px-4 py-2 bg-gray-200 text-gray-800 text-base font-medium rounded-md shadow-sm hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300"
                    hx-on::click="htmx.remove('#confirmModal-{{ .ID }}')">
                    Нет
                </button>
            </div>
        </div>
    </div>
</div>